.login {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.login__logo {
    width: 100px;
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login__container {
    width: 300px;
    height: fit-content;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}
.login__container > form > h5 {
    margin-bottom: 20px;
}
.login__container > form > input {
    margin-bottom: 20px;
    height: 30px;
    width: 98%;
    background-color: white;
}
.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}
.login__container > form > button {
    background-color: #f0c14b;
    width: 100%;
    border: 1px solid;
    border-radius: 2px;
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 10px;
    height: 30px;
    color: #111;
}
.login__registerButton {
    border-radius: 2px;
    width: 100%;
    border: 1px solid;
    border-color: darkgray;
    color: #111;
    /* background-color: #f0c14b; */
    height: 30px;
    margin-top: 10px;
}